.container-fluid {
    padding: 20px 25px;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    /* height: 100vh; */
    /* display: flex;
    flex-direction: column; */
}

.header__header {
    margin: 0 10px; 
    #weatherTitle {
        font-size: 20px;
        background-color: #202B3B;
        color: #FAF9F6;
        padding: 5px 10px;
        border-radius: 5px;

    }

    #header_city {
        color: #FAF9F6;
        font-size: 50px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        .header__city-name::before,
        .header__city-name::after {
            content: "✨";
        }
    }
}  

.temperature__section {
    color: #FAF9F6;

    #tempValue {
        font-size: 150px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
    #increaseTempControl, 
    #decreaseTempControl {
        font-size: 50px;
    }
    #increaseTempControl:hover, 
    #decreaseTempControl:hover {
        cursor: pointer;
        color: gray;
    }

    #currentTempButton,
    #cityNameReset,
    #convert-temp-btn { 
        box-shadow: 4px 4px 6px #3a34344d;
        color: #FAF9F6;
        padding: 5px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        border: 3px #334766 solid;
        margin: 0 5px;
    }
    #currentTempButton,
    #convert-temp-btn {
        background-color: #0B131E; 
    }

    #cityNameReset {
        background-color: #0B131E;
        background-color: #334766; 
    }

    #currentTempButton:hover,
    #cityNameReset:hover,
    #convert-temp-btn:hover { 
        opacity: 60%;
    }
}

hr {
    margin: 25px 75px;
    color: black;
}

#topSection,
#bottomSection {
    height: calc((100vh - 60px) / 2);
    overflow: hidden;
}

#bottomSection {
    margin: 0 10px;

    .sky__section,
    .garden__section,
    .city-name__section,
    #landscapeImg {
        box-shadow: 1px -1px 3px rgba(20, 25, 35, 0.7);
        background-color: #232c3a;
        color: #FAF9F6;
        padding: 20px 0;
        border-radius: 5px;
    }

    #skyAndGarden .row {
        height: 50%;
    }

    .sky__section {
        margin-bottom: 12px;
        
        #skySelect {
            border: 3px white solid; 
            border-radius: 5px;

        }
    }

    .garden__section {
        margin-top: 12px;
        #gardenContent {
            font-size: 20px;
        }
    }

    .sky__section,
    .garden__section {
        margin-right: 10px;
    }

    .city-name__section {
        margin: 0 10px;

        .weather__icons {
            font-size: 25px;
        }

        #globeIcon {
            font-size: 40px;
        }

        #cityNameInput {
            border: 3px white solid; 
            border-radius: 5px;
        }
    
        #citySearchButton { 
            background-color: #0B131E; 
            box-shadow: 4px 4px 6px #2824244d;
            color: #FAF9F6;
            padding: 2px 5px;
            border-radius: 5px;
            border: none;
            font-size: 16px;
            cursor: pointer;
            border: 3px #334766 solid;
        }

        #citySearchButton:hover {
            cursor: pointer;
            color: gray;
        }

        #citySearchSection .col {
            padding: 4px;
        } 
        
    }

    #landscapeImg {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        margin-left: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}