.container-fluid {
    background-color: #0B131E;
    padding: 20px 25px;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__header {
    margin: 0 10px; 
    #weatherTitle {
        font-size: 20px;
        background-color: #202B3B;
        color: #FAF9F6;
        padding: 5px 10px;
        border-radius: 5px;

    }

    #header_city {
        color: #FAF9F6;
        font-size: 50px;
        .header__city-name::before,
        .header__city-name::after {
            content: "✨";
        }
    }
}  

.temperature__section {
    color: #FAF9F6;

    #tempValue {
        font-size: 150px;
    }
    #increaseTempControl, 
    #decreaseTempControl {
        font-size: 50px;
    }
    #increaseTempControl:hover, 
    #decreaseTempControl:hover {
        cursor: pointer;
        color: gray;
    }

    #currentTempButton,
    #cityNameReset { 
        box-shadow: 4px 4px 6px #3a34344d;
        color: #FAF9F6;
        padding: 5px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        cursor: pointer;
        border: 3px #334766 solid;
        margin: 0 5px;
    }
    #currentTempButton {
        background-color: #334766; 
    }

    #cityNameReset {
        background-color: #0B131E; 
    }

    #currentTempButton:hover,
    #cityNameReset:hover { 
        opacity: 60%;
    }
}

hr {
    margin: 25px 75px;
    color:white;
}

#topSection,
#bottomSection {
    height: calc((100vh - 60px) / 2);
    overflow: hidden;
}

#bottomSection {
    margin: 0 10px;

    .sky__section,
    .garden__section,
    .city-name__section,
    #landscapeImg {
        box-shadow: 1px -1px 3px rgba(20, 25, 35, 0.7);
        background-color: #232c3a;
        color: #FAF9F6;
        padding: 20px 0;
        border-radius: 5px;
    }

    #skyAndGarden .row {
        height: 50%;
    }

    .sky__section {
        margin-bottom: 12px;
    }

    .garden__section {
        margin-top: 12px;
        #gardenContent {
            font-size: 20px;
        }
    }

    .sky__section,
    .garden__section {
        margin-right: 10px;
    }

    .city-name__section {
        margin: 0 10px;

        .weather__icons {
            font-size: 25px;
        }

        #globeIcon {
            font-size: 40px;
        }

        #cityNameInput {
            border: 3px white solid; 
            border-radius: 5px;
        }
    
        #citySearchButton { 
            background-color: #0B131E; 
            box-shadow: 4px 4px 6px #2824244d;
            color: #FAF9F6;
            padding: 2px 5px;
            border-radius: 5px;
            border: none;
            font-size: 16px;
            cursor: pointer;
            border: 3px #334766 solid;
        }

        #citySearchSection .col {
            padding: 4px;
        } 
        
    }

    #landscapeImg {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        margin-left: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}


/* h2 {
    margin: 0 auto 2rem auto;
}
  
body {
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: auto auto auto auto;
grid-gap: 1rem;

font-family: "Rubik", sans-serif;
font-size: 18px;
background-color: #1b69f9;
margin: 2rem;
}

.header__header {
color: white;
grid-column: span 3;
display: flex;
align-items: center;
margin: 2rem auto 3rem 0;
}

.header__header > h1 {
margin-right: 2rem;
font-size: 3em;
}

.header__city-name {
font-style: oblique;
font-size: 2rem;
}

.header__city-name::before,
.header__city-name::after {
content: "✨";
}

.temperature__section,
.sky__section,
.city-name__section {
border-radius: 8px;
padding: 2rem;
background-color: white;
}

.temperature__section {
grid-row: 2;
}

.temperature__section button {
    background-color: #1b69f9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px
}

.sky__section {
grid-row: 3;
}

.city-name__section {
grid-row: 4;
}

.garden__section {
grid-row: 2 / span 3;
grid-column: 2;
text-align: center;
align-self: center;
}

.temperature__content {
display: flex;
flex-direction: row;
justify-content: space-around;
}

#tempValue {
font-size: 3rem;
margin-left: 1.5rem;
}

.temperature__controls {
display: flex;
flex-direction: column;
align-items: center;
}

.garden__section > h2 {
color: white;
}

.garden__content {
min-height: 200px;
max-width: fit-content;
margin: auto;
padding: 2rem;

display: flex;
flex-direction: column;
justify-content: space-between;

border-radius: 8px;
font-size: 2em;
}

.city-name__reset-btn {
border: 0;
background-color: #1655cc;
color: white;
border-radius: 8px;
padding: 1rem;
font-family: "Rubik", sans-serif;
}

.red {
color: red;
}

.orange {
color: orange;
}

.yellow {
color: gold;
}

.yellow-green {
color: yellowgreen;
}

.green {
color: green;
}

.teal {
color: teal;
}

.cloudy {
background-color: lightgrey;
}

.sunny {
background-color: rgb(221, 255, 255);
}

.rainy {
background-color: lightblue;
}

.snowy {
background-color: lightsteelblue;
} */